@import url("colors.css");

body {
  margin: 0;
  font-family: var(--main-font);
}

code {
  font-family: var(--main-font);
}

.background-image {
  height: 100vh;
  background: url('./assets/drollerhp2.png') no-repeat center center fixed;
  background-size: 60%;
}

.background-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.landing-page-content button {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--secondary-color);
  color: var(--custom-black-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.landing-page-content button:hover {
  background-color: var(--tertiary-color);
}

