@import url("../colors.css");

.navbar {
    background-color: var(--primary-color);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 5px 0 0 0;
  }
  
  .nav-item {
    text-align: center;
    font-size: 15px;
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    margin-right: 10px;
    display: flex;
    align-items: center;
  }
  
  .nav-item:hover {
    background-color: var(--tertiary-color);
  }
  
  .navbar-nav li:nth-last-child(2) {
    margin-left: auto;
  }

  .navbar-nav li:last-child {
    margin-left: 10px;
  }

  
  